.question {
  background: var(--element-backend-colour);

  border: 2px solid var(--border-color);
  border-radius: var(--element-border-radius);

  display: flex;
  padding: 1rem;
  gap: 3rem;
}

.nameAndAudioPlayer {
  flex: 1;
}

.birdsAndDescription {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
}

.bird {
  padding: 0.5rem 1rem;

  background: var(--element-backend-colour);

  border: 2px solid var(--border-color);
  border-radius: var(--element-border-radius);
}

.birds {
  max-width: 300px;
  flex: 1;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

.description {
  flex: 1;
}

.birdName {
  color: #fce181;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0.9375rem;
  padding-bottom: 0.625rem;
  margin-bottom: 0.9375rem;
  border-bottom: 1px solid #000;
}
